<!DOCTYPE html><html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Green Farm Corporation Ltd">

    <title>Green Farm Corporation Ltd</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet" /> -->
    <link href="css/all.min.css" rel="stylesheet">
    <!-- <link href="/static/greenfarm/css/font-awesome-6_4_2/fontawesome.css" rel="stylesheet" /> -->
    <link href="css/fontawesome.min.css" rel="stylesheet">
    <link href="css/brands.min.css" rel="stylesheet">
    <link href="css/themify-icons.css" rel="stylesheet">
    <!-- flation tương tự fontawesome nhưng là ico to hơns -->
    <link href="css/flaticon-set.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    
    <link href="css/animate-dk.css" rel="stylesheet">

    <link href="css/bootsnav.css" rel="stylesheet">
    <link href="css/style_1.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">


    <!-- Google tag (gtag.js) -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-B9PP2MXTB6"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-B9PP2MXTB6');
	</script>

    


</head>

<!-- index 3 -->

<body>
  {% include header.html %}
  <main>
    { '{ content }' }
  </main>
  {% include footer.html %}
</body>
</html>
